.Rproj.user
.Rhistory
.RData
.Ruserdata
MED_Conts_Toxins_teliko_2.csv
cont_stabar.png
number_cyanoto_med.pdf
med_vs_cont.pdf
Continents_test.nb.html
Rplot001.jpg
cont_stabar.pdf
dendro.png
graphics
logo_poster
Exploratory_methods.nb.html
combined.pdf
main_toxin_producers_MED.png
main_toxin_producers_cont.pdf
main_toxin_producers_cont.png
newplot.png
number_cyanotoxins_cont.png
test.pdf
